.header {
  background-color: rgba(57,62,70);
    padding-left: 3rem;
    position: fixed;
    left: 25rem;
    height: 3rem;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
    color: #EEEEEE;
    justify-content: center;
    &-routes-container {
      display: flex;
      margin-right: 3rem;
      gap: 4rem;
      font-size: 1.2rem;
      font-family:Arial, Helvetica, sans-serif;
      background-color: transparent;
    }
    a:hover{
      color: #00ADB5;
      cursor: pointer;
    }
    a{
      text-decoration: none;
      color: #EEEEEE;
      background-color: transparent;
    }
  }
  