@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

//home

.home {
  &-container {
    height: 52rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-typeanimation{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    font-size: 1rem;
    margin: 0;
    color: #00ADB5;
  }

  &-intro{
    margin-top: 3rem;
    color: #EEEEEE;
  }

  &-introduction{
    margin-top: 1.5rem;
    width: 31rem;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
  }

  &-btn-box{
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin-right: 5rem;
  }
}

.section-btn-resume{
  margin-top: 2rem;
  background-color: transparent;
  border-radius: 10px;
  height: 3rem;
  width: 7rem;
  color: #00ADB5;
  font-size: 1.1rem;
  border-style: solid;
  border-color: #00ADB5;
  font-weight: 550;
}

.section-btn-hire{
  margin-top: 2rem;
  background-color: #00ADB5;
  border-radius: 10px;
  height: 3rem;
  width: 7rem;
  color: #222831;
  font-size: 1.1rem;
  border-style: solid;
  border-color: #00ADB5;
  font-weight: 550;
  &:hover{
    background-color: #222831;
    color: #00ADB5;
    border-color: #00ADB5;
  }
}

.section-btn-resume:hover{
  background-color: #00ADB5;
  color: #222831;
  border-color: #00ADB5;
}

.typeanimation{
  margin: 0;
}

h1{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

.model-image{
height: 500px;
width: 540px; 
border-radius: 50%;
}

//profile
.profile{
  height: 100vh;
  width: 100%;
  &-page{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
  }
  &-content{
    margin-top: 4rem;
    gap: 6rem;
  }
 
  &-info{
    justify-content: center;
    display: flex;
    gap: 2rem;
    &-card{
      height: 6.5rem;
      width: 15rem;
      background-color: #00ADB5;
      border-radius: 0 0 15px 15px;
      padding-left: 1rem;
      padding-top: 0.5rem;
    }
    h1{
      font-size: 1.5rem;
    }
  }

&-projects{
display: flex;
align-items: center; 
flex-direction: column;
justify-content: center;
}

.define{
  font-size: 1rem;
}

  &-experience{
    display: flex;
    margin-top: 1rem;
    color: #EEEEEE;
    flex-direction: column;
    align-items: center;
    p{
      font-size: 1.5rem;
    }
  }
  
  &-images{
    display: flex;
    justify-content: center;
    max-width: 90%;
    gap: 1rem;
    .s1s, .s2s, .s3s, .s4s{
      width: 12%;
      height: 22rem;
    }
    .s1s:hover, .s2s:hover, .s3s:hover, .s4s:hover{
    position: relative;
    width: 15%;
    height: 26rem;
    }
    .s0s{
      width: 40%;
      height: 22rem;
    }

    .s0s:hover{
      width: 44%;
      height: 24rem;
    }
  }

}

//output
.output{
  height: 100vh;
  width: 100%;
  &-content{
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}


//learning experience

.learningxp{
  height: 100vh;
  width: 100%;
  &-content{
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
